In [149]:
# Load the Netflix dataset and display basic statistics and sample rows for initial exploration
import pandas as pd
netflix_data = pd.read_csv('../data/netflix_titles.csv')
# print(netflix_data.describe()) 
# print(netflix_data.head())

display is better than print in this case for a good presentation , it is better if we want to display some data

In [150]:
# Using display instead of print provides a cleaner and more readable presentation of DataFrame outputs in Jupyter notebooks.
display(netflix_data.head(5))
print("*"*100,end="\n\n\n")
display(netflix_data.info()) # with info , it is possible to see directly the number of nan value
print("*"*100,end="\n\n\n")
display(netflix_data.describe()) 
print("*"*100,end="\n\n\n")

# display(netflix_data.tail(5))  # to display just the 5 last element
# print("*"*100,end="\n\n\n")
# display(netflix_data.sample(5)) # to display just a sample of 5
# print("*"*100)

display(netflix_data.shape)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

****************************************************************************************************


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

None

****************************************************************************************************

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

****************************************************************************************************

(8807, 12)

In [151]:
"""Check missing values in each column of the netflix_data DataFrame"""

display(netflix_data.isnull().sum().sort_values(ascending=False))

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

In [152]:
netflix_data.duplicated().sum() # no duplicated value

np.int64(0)

In [153]:
# #Check There is an error there
# from sklearn.impute import SimpleImputer
# import numpy as np
# # Impute missing values in the 'country' column with the most frequent value
# imputer = SimpleImputer(strategy='most_frequent')
# netflix_data['country'] = imputer.fit_transform(netflix_data[['country']])
# display(netflix_data.isnull().sum().sort_values(ascending=False))

In [154]:
# Display value counts for selected columns in a loop for better understanding of the dataset
columns_to_check = [
    'type', 'title', 'director', 'cast', 'country',
    'date_added', 'release_year', 'rating', 'duration', 'listed_in'
]

for col in columns_to_check:
    print(f"Value counts for '{col}':")
    display(netflix_data[col].value_counts().head(5))
    print('-' * 40)

Value counts for 'type':

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

----------------------------------------
Value counts for 'title':

title
Dick Johnson Is Dead     1
Blood & Water            1
Ganglands                1
Jailbirds New Orleans    1
Kota Factory             1
Name: count, dtype: int64

----------------------------------------
Value counts for 'director':

director
Rajiv Chilaka             19
Raúl Campos, Jan Suter    18
Marcus Raboy              16
Suhas Kadav               16
Jay Karas                 14
Name: count, dtype: int64

----------------------------------------
Value counts for 'cast':

cast
David Attenborough                                                                                                        19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                   14
Samuel West                                                                                                               10
Jeff Dunham                                                                                                                7
Michela Luci, Jamie Watson, Eric Peterson, Anna Claire Bartlam, Nicolas Aqui, Cory Doran, Julie Lemieux, Derek McGrath     6
Name: count, dtype: int64

----------------------------------------
Value counts for 'country':

country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Name: count, dtype: int64

----------------------------------------
Value counts for 'date_added':

date_added
January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
Name: count, dtype: int64

----------------------------------------
Value counts for 'release_year':

release_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
Name: count, dtype: int64

----------------------------------------
Value counts for 'rating':

rating
TV-MA    3207
TV-14    2160
TV-PG     863
R         799
PG-13     490
Name: count, dtype: int64

----------------------------------------
Value counts for 'duration':

duration
1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
97 min        146
Name: count, dtype: int64

----------------------------------------
Value counts for 'listed_in':

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Name: count, dtype: int64

----------------------------------------

#Dealing with missing data



















# find the max repetition for all , in order to replace the missing data by that , beacause we have a lot of them

In [155]:
print('* # DIRECTOR'*10,end="\n\n")
display(netflix_data.groupby("director")['title'].count().sort_values(ascending=False))
print('* # COUNTRY'*10,end="\n\n")
display(netflix_data.groupby("country")['title'].count().sort_values(ascending=False))
print('* # CAST'*100,end="\n\n")
display(netflix_data.groupby("cast")['title'].count().sort_values(ascending=False))
print('* # DATE_ADDED'*10,end="\n\n")
display(netflix_data.groupby("date_added")["title"].count().sort_values(ascending=False))
print('* # DURATION'*100,end="\n\n")
display(netflix_data.groupby("duration")['title'].count().sort_values(ascending=False))
print('* '*100,end="\n\n")

* # DIRECTOR* # DIRECTOR* # DIRECTOR* # DIRECTOR* # DIRECTOR* # DIRECTOR* # DIRECTOR* # DIRECTOR* # DIRECTOR* # DIRECTOR

director
Rajiv Chilaka             19
Raúl Campos, Jan Suter    18
Marcus Raboy              16
Suhas Kadav               16
Jay Karas                 14
                          ..
Çagan Irmak                1
Ísold Uggadóttir           1
Óskar Thór Axelsson        1
Braden R. Duemmler         1
Zachary Heinzerling        1
Name: title, Length: 4528, dtype: int64

* # COUNTRY* # COUNTRY* # COUNTRY* # COUNTRY* # COUNTRY* # COUNTRY* # COUNTRY* # COUNTRY* # COUNTRY* # COUNTRY

country
United States          2818
India                   972
United Kingdom          419
Japan                   245
South Korea             199
                       ...
Venezuela                 1
Venezuela, Colombia       1
Cyprus                    1
West Germany              1
Zimbabwe                  1
Name: title, Length: 748, dtype: int64

* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST* # CAST

cast
David Attenborough                                                                                                                                                 19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                                                            14
Samuel West                                                                                                                                                        10
Jeff Dunham                                                                                                                                                         7
Craig Sechler                                                                                                                                                       6
                                                                                                                                                                   ..
İbrahim Büyükak, Zeynep Koçak, Gupse Özay, Cengiz Bozkurt                                                                                                           1
İbrahim Çelikkol, Belçim Bilgin, Alican Yücesoy, Teoman Kumbaracıbaşı, Serdar Yeğin, Tülay Günal, Gözde Cığacı, Ferit Aktuğ, Rojda Demirer, Aybars Kartal Özson     1
Şahin Irmak, İrem Sak, Gonca Vuslateri, Emre Karayel, Duygu Yetiş, Onur Buldu, Salih Kalyon, Bilge Şen, Nilgün Belgün, Hakan Akın                                   1
Şükrü Özyıldız, Aslı Enver, Şenay Gürler, Başak Parlak, Mahir Günşiray, Hakan Boyav, Hakan Gerçek, Berrak Kuş, Gamze Süner Atay, Mehmet Esen                        1
Aamir Khan, Ashutosh Gowariker                                                                                                                                      1
Name: title, Length: 7692, dtype: int64

* # DATE_ADDED* # DATE_ADDED* # DATE_ADDED* # DATE_ADDED* # DATE_ADDED* # DATE_ADDED* # DATE_ADDED* # DATE_ADDED* # DATE_ADDED* # DATE_ADDED

date_added
January 1, 2020       109
November 1, 2019       89
March 1, 2018          75
December 31, 2019      74
October 1, 2018        71
                     ...
 December 1, 2018       1
 December 15, 2015      1
 December 15, 2018      1
 December 18, 2014      1
 December 2, 2017       1
Name: title, Length: 1767, dtype: int64

* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION* # DURATION

duration
1 Season     1793
2 Seasons     425
3 Seasons     199
90 min        152
94 min        146
             ...
208 min         1
205 min         1
5 min           1
8 min           1
9 min           1
Name: title, Length: 220, dtype: int64

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [156]:
netflix_data_copy=netflix_data.copy()
netflix_data_copy.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [ ]:
netflix_data_copy["director"].fillna('Rajiv Chilaka',inplace=True)
netflix_data_copy["country"].fillna("United States",inplace=True)
netflix_data_copy["cast"].fillna('David Attenborough',inplace=True)
netflix_data_copy["date_added"].fillna("January 1, 2020",inplace=True)
netflix_data_copy["duration"].fillna("1 Season",inplace=True)
netflix_data_copy.dropna(inplace=True)

netflix_data_copy.info() # we don't have missing values anymore

<class 'pandas.core.frame.DataFrame'>
Index: 8803 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8803 non-null   object
 1   type          8803 non-null   object
 2   title         8803 non-null   object
 3   director      8803 non-null   object
 4   cast          8803 non-null   object
 5   country       8803 non-null   object
 6   date_added    8803 non-null   object
 7   release_year  8803 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8803 non-null   object
 10  listed_in     8803 non-null   object
 11  description   8803 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.1+ KB

C:\Users\pc\AppData\Local\Temp\ipykernel_8808\2068909611.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_data_copy["director"].fillna('Rajiv Chilaka',inplace=True)
C:\Users\pc\AppData\Local\Temp\ipykernel_8808\2068909611.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_data_copy["country"].fillna("United States",inplace=True)
C:\Users\pc\AppData\Local\Temp\ipykernel_8808\2068909611.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_data_copy["cast"].fillna('David Attenborough',inplace=True)
C:\Users\pc\AppData\Local\Temp\ipykernel_8808\2068909611.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_data_copy["date_added"].fillna("January 1, 2020",inplace=True)
C:\Users\pc\AppData\Local\Temp\ipykernel_8808\2068909611.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_data_copy["duration"].fillna("1 Season",inplace=True)






# the dupplicated value